* {
  font-family: 'OpenSans', 'Roboto', sans-serif
}

html, body {
  margin: 1rem;
  border: 0;
  padding: 0;
  background-color: #353535;
  color: #d9d9d9;
}

header > h1 {
  font-size: 2em
}

main {
  /* margin: auto; */
  width: 50%;
  padding: 0 20px 20px 20px;
}

main > section > p {
  padding-left: 25px;
}

main > section > h1 {
  font-size: 1.8em;
  text-transform: lowercase;
}

footer {
  margin: auto;
}